<h1>Attractions</h1>

<%= link_to "Create New Attraction", new_attraction_path %><br>

<hr>

<% @attractions.each do |attraction| %>

  <%= link_to "Go on #{attraction.name}", attraction_path(attraction) %><br>

<% end %>
